body {
  color: #82afca;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  margin: 0;
}

.title {
  text-shadow: 0 0 4px black;
}

.hero {
  background-image: url("images/galaxy.webp");
  background-size: cover;
  padding: 10px 0 40px 0;
}

.apply-btn {
  padding: 8px 14px;
  font-size: 20px;
  background: #fff;
  border: none;
  font-family: inherit;
  color: #82afca;
  font-weight: bold;
}

.underline {
  border-bottom: 4px solid white;
}

#logo {
  width: 150px;
}
